.footer {
    padding: 20px;
}

.datepickerRow {
    margin-bottom: 10px;
}

.scrollableBox {
    height: 400px;
}

.whiteIcon {
    color: white;
}

.alignRight {
    float: right;
}

.customIconHeight {
    height: 19px;
}

.loadMoreSpacing {
    margin-bottom: 1%;
}