.icon {
  color: white;
}

.dataTable {
  color: white;
}

.footer {
  padding: 20px;
}

.progressBar {
  margin-bottom: 20px;
}

.spacedRow {
  margin-bottom: 10px;
}

.loadMoreRow {
  margin-bottom: 1%;
}

.scrollable {
  height: 250px;
}
