.whiteIcon {
  color: white;
}

.footer {
  padding: 20px;
}

.datepickerRow {
  margin-bottom: 10px;
}

.scrollableCard {
  height: 250px;
}

.loadMoreRow {
  margin-bottom: 1%;
}

.alignRight {
  float: right;
}
