pre.ignore {
  font-family: inherit;
}

.custom-select {
  appearance: none;
  -moz-appearance: none;
-webkit-appearance: none;
}

.avatar {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  border-radius: 50em;
  transition: margin .15s;
  width: 2rem;
  height: 2rem;
  font-size: .8rem;
}
