pre.ignore {
  font-family: inherit;
}

.custom-select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.avatar {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  border-radius: 50em;
  transition: margin .15s;
  width: 3rem;
  height: 3rem;
  font-size: .8rem;
}

.ignore-overflow {
  overflow: unset !important;
}

.tooltipLeft { &::after { left: 25% !important; } }
.tooltipLeft { &::before { left: 25% !important; } }

.tooltipRight { &::after { left:  75% !important; } }
.tooltipRight { &::before { left: 75% !important; } }

.dark-header {
  padding: .25rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  color: #ebedef !important;
  background-color: #2f3d54 !important;
}

.avatar-lg {
  height: 10rem;
  width: 10rem;
}
